* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  background-color: #33626c;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 600px;
}

.formGroup label {
  text-align: center;
  font-family: "Zen Loop", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.form input {
  width: 330px;
  padding: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  font-family: "Zen Loop", sans-serif;
  outline: none;
  transition: all 0.3s;
  padding-left: 15px;
  border-radius: 50px;
  height: 35px;
}

/* Focus styling */
.form input:focus {
  border-color: #c5b496;
  box-shadow: 0 0 10px rgba(197, 180, 150, 0.5);
}

@media (min-width: 768px) {

  .form input {
    width: 600px;
    height: 45px;
    font-size: 24px;
  }
}
